In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

## Titanic Survivors predictor

### 1. Dataset

In [2]:
#load data from csv
titanic_train_data = pd.read_csv('titanic_train.csv')
titanic_test_data = pd.read_csv('titanic_test.csv')

#### Extract attributes and target

In [3]:
# get target data vector
y = titanic_train_data.iloc[:,1:2]

# get attributes matrix
titanic_attributes = titanic_train_data.iloc[:,2:]
titanic_attributes.head()

,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

### 2. Feature selection

In [4]:
selected_titanic_attributes = titanic_attributes.loc[:, ["Sex", "Age", "SibSp"]]
selected_titanic_attributes.head()

      Sex   Age  SibSp
0    male  22.0      1
1  female  38.0      1
2  female  26.0      0
3  female  35.0      1
4    male  35.0      0

### 2. Pre-processing

#### Fill & encode

In [5]:
from sklearn.preprocessing import OrdinalEncoder
ord_enc = OrdinalEncoder()

# fill empty values
selected_titanic_attributes['Age'].fillna(value=selected_titanic_attributes['Age'].mean(), inplace=True)
#encode categorical features: ordinal encoder
selected_titanic_attributes["Sex"] = ord_enc.fit_transform(selected_titanic_attributes[["Sex"]])

selected_titanic_attributes.head()

   Sex   Age  SibSp
0  1.0  22.0      1
1  0.0  38.0      1
2  0.0  26.0      0
3  0.0  35.0      1
4  1.0  35.0      0

#### Standardization
Mean-centered at zero and rescaled to have variance of 1

In [6]:
from sklearn import preprocessing
scaler = preprocessing.StandardScaler().fit(selected_titanic_attributes)
normalized_titanic_attributes = scaler.transform(selected_titanic_attributes)
print(normalized_titanic_attributes.mean(axis=0))
print(normalized_titanic_attributes.var(axis=0))

[-1.15632656e-16  2.23290646e-16  4.38606627e-17]
[1. 1. 1.]

#### Get training & testing data

In [7]:
# convert to Data Frame
X = pd.DataFrame(data=normalized_titanic_attributes, columns=selected_titanic_attributes.columns)

# add an extra column of ones
X['one'] = 1

# Collect data points for training (use all)
X_train = X
y_train = y

X.head()

        Sex       Age     SibSp  one
0  0.737695 -0.592481  0.432793    1
1 -1.355574  0.638789  0.432793    1
2 -1.355574 -0.284663 -0.474545    1
3 -1.355574  0.407926  0.432793    1
4  0.737695  0.407926 -0.474545    1

### 4. Logistic regression

#### Run algorithm

In [8]:
from sklearn import linear_model

# Create logistic regression object
clf = linear_model.LogisticRegression()

# Train the model using the training sets
clf.fit(X_train, y_train.values.ravel())

LogisticRegression()

#### Get predictions

In [9]:
# make predictions on the training set
y_train_pred = clf.predict(X_train)

### 5. Evaluate

In [10]:
from sklearn import metrics

# evaluate on training set
cnf_matrix_train = metrics.confusion_matrix(y_train, y_train_pred)
print(cnf_matrix_train)
print("Accuracy:",metrics.accuracy_score(y_train, y_train_pred))
print("Precision:",metrics.precision_score(y_train, y_train_pred))

[[472  77]
 [109 233]]
Accuracy: 0.7912457912457912
Precision: 0.7516129032258064